<nav class="navbar">
    <ul class="navbar_list">
        <li class="navbar_item"><a href="/admin/posts" class="navbar_link">Articles</a></li>
        <li class="navbar_item"><a href="/admin/users" class="navbar_link">Utilisateurs</a></li>
        <li class="navbar_item"><a href="/admin/contact" class="navbar_link">Contact</a></li>
        <li class="navbar_item"><a href="/admin/settings" class="navbar_link">Paramètres</a></li>
    </ul>
</nav>
