<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/admin">
            <span class="align-middle">Admin</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Gestion
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/posts">
                    <i class="align-middle" data-feather="file"></i> <span class="align-middle">Articles</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/users">
                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">Utilisateurs</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/contact">
                    <i class="align-middle" data-feather="send"></i> <span class="align-middle">Contact</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/settings">
                    <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Paramètres</span>
                </a>
            </li>
        </ul>
    </div>
</nav>