.list {
  header.tools {
    display: flex;
    flex-direction: row;

    gap: 1.5em;

    padding-top: 1em;
    padding-bottom: 1em;

    a {
      text-transform: uppercase;

      border: 1px solid black;

      padding: 0.25em;

      &:hover {
        color: white;
        background-color: black;
      }
    }
  }

  table {
    width: 100%;

    border: 1px solid;

    thead {

    }

    tbody {
      tr {
        border: 1px solid;

        td {
          border: 1px solid;

          padding: 0.25em;

          a {
            margin-right: 1em;
          }
        }
      }
    }
  }
}
