/* roboto-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/public/assets/fonts/Roboto/roboto-v30-latin-regular.eot");
  /* IE9 Compat Modes */
  src: url("/public/assets/fonts/Roboto/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/Roboto/roboto-v30-latin-regular.woff2") format("woff2"), url("/public/assets/fonts/Roboto/roboto-v30-latin-regular.woff") format("woff"), url("/public/assets/fonts/Roboto/roboto-v30-latin-regular.ttf") format("truetype"), url("/public/assets/fonts/Roboto/roboto-v30-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("/public/assets/fonts/Roboto/roboto-v30-latin-italic.eot");
  /* IE9 Compat Modes */
  src: url("/public/assets/fonts/Roboto/roboto-v30-latin-italic.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/Roboto/roboto-v30-latin-italic.woff2") format("woff2"), url("/public/assets/fonts/Roboto/roboto-v30-latin-italic.woff") format("woff"), url("/public/assets/fonts/Roboto/roboto-v30-latin-italic.ttf") format("truetype"), url("/public/assets/fonts/Roboto/roboto-v30-latin-italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/public/assets/fonts/Roboto/roboto-v30-latin-700.eot");
  /* IE9 Compat Modes */
  src: url("/public/assets/fonts/Roboto/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/Roboto/roboto-v30-latin-700.woff2") format("woff2"), url("/public/assets/fonts/Roboto/roboto-v30-latin-700.woff") format("woff"), url("/public/assets/fonts/Roboto/roboto-v30-latin-700.ttf") format("truetype"), url("/public/assets/fonts/Roboto/roboto-v30-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("/public/assets/fonts/Roboto/roboto-v30-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: url("/public/assets/fonts/Roboto/roboto-v30-latin-700italic.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/Roboto/roboto-v30-latin-700italic.woff2") format("woff2"), url("/public/assets/fonts/Roboto/roboto-v30-latin-700italic.woff") format("woff"), url("/public/assets/fonts/Roboto/roboto-v30-latin-700italic.ttf") format("truetype"), url("/public/assets/fonts/Roboto/roboto-v30-latin-700italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}
.navbar {
  width: 100%;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  margin-bottom: 1.25em;
  border-bottom: 1px solid black;
}
.navbar .navbar_list {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  align-content: center;
}
.navbar .navbar_list .navbar_item .navbar_link {
  font-size: 1.2em;
}
.form {
  display: flex;
  flex-direction: column;
}
.form .form_group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
}
.form .form_group label {
  width: 100%;
  margin-bottom: 0.25em;
  text-transform: uppercase;
}
.form .form_group input, .form .form_group textarea {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.form button {
  width: fit-content;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0;
  border: 1px solid gray;
  background-color: transparent;
}
.list header.tools {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.list header.tools a {
  text-transform: uppercase;
  border: 1px solid black;
  padding: 0.25em;
}
.list header.tools a:hover {
  color: white;
  background-color: black;
}
.list table {
  width: 100%;
  border: 1px solid;
}
.list table tbody tr {
  border: 1px solid;
}
.list table tbody tr td {
  border: 1px solid;
  padding: 0.25em;
}
.list table tbody tr td a {
  margin-right: 1em;
}
body {
  position: relative;
  font-size: 20px;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: Roboto, serif;
}
.page_content {
  width: 75%;
  margin: 0 auto;
}
.page_content .page_title {
  font-size: 2em;
  text-align: center;
  padding-bottom: 1em;
}
