{% extends '/front/page.twig' %}

{% block page_content %}
    {% include '/front/_partials/header.twig' %}

    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-12">
                    <h2>Mot de passe oublié</h2>
                    <form action="" method="post">
                        <div class="form-floating">
                            <input class="form-control" id="email" type="email" name="email" placeholder="Entrer votre email" required/>
                            <label for="email">Email du compte</label>
                        </div>
                        <br />
                        <button name="submit" class="btn btn-primary text-uppercase" id="submitButton" type="submit">Changer le mot de passe</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
