{% extends '/front/page.twig' %}

{% block page_content %}
    {% include '/front/_partials/header.twig' %}

    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-6 col-lg-4 col-xl-6">
                    <h2>Connexion</h2>
                    <div class="my-5">
                        <form id="login" method="post">
                            <div class="form-floating">
                                <input class="form-control" id="email" type="email" name="email" placeholder="Entrer votre email" required/>
                                <label for="email">Email</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="password" type="password" name="password" placeholder="password" required />
                                <label for="email">Mot de passe</label>
                            </div>
                            <br />
                            <input type="hidden" name="action" value="login">
                            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Se connecter</button>
                            <a href="/forgotten_password" class="btn btn-primary text-uppercase">Mot de passe oublié</a>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-6">
                    <h2>S'inscrire</h2>
                    <div class="my-5">
                        <form id="register" method="post">
                            <div class="form-floating">
                                <input class="form-control" id="firstname" type="text" name="firstname" placeholder="Entrer votre prénom" required/>
                                <label for="email">Prénom</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="lastname" type="text" name="lastname" placeholder="Entrer votre nom" required/>
                                <label for="email">Nom</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="email" type="email" name="email" placeholder="Entrer votre email" required/>
                                <label for="email">Email</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="password" type="password" name="password" placeholder="password" required />
                                <label for="email">Mot de passe</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="password" type="password" name="rp_password" placeholder="password" required />
                                <label for="email">Répéter votre mot de passe</label>
                            </div>
                            <br />
                            <input type="hidden" name="action" value="register">
                            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">S'inscrire</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
