{% extends '/front/page.twig' %}

{% block page_content %}
    {% include '/front/_partials/header.twig' %}

    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-6">
                    <form method="post" action="">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <h2>Changer vos informations</h2>
                                </div>
                                <div class="mb-3">
                                    <label for="firstname" class="form-label">Prénom</label>
                                    <input type="text" name="firstname" class="form-control" id="firstname" value="{{ currentUser.firstname }}">
                                </div>
                                <div class="mb-3">
                                    <label for="lastname" class="form-label">Nom</label>
                                    <input type="text" name="lastname" class="form-control" id="lastname" value="{{ currentUser.lastname }}">
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control" id="email" value="{{ currentUser.email }}">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="action" value="informations">
                        <button class="btn btn-primary">Enregistrer</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <form method="post" action="">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <h2>Changer votre mot de passe</h2>
                                </div>
                                <div class="mb-3">
                                    <label for="current_password" class="form-label">Mot de passe actuel</label>
                                    <input type="password" name="current_password" class="form-control" id="current_password">
                                </div>
                                <div class="mb-3">
                                    <label for="new_password" class="form-label">Nouveau mot de passe</label>
                                    <input type="password" name="new_password" class="form-control" id="new_password">
                                </div>
                                <div class="mb-3">
                                    <label for="repeat_new_password" class="form-label">Répéter le nouveau mot de passe</label>
                                    <input type="password" name="repeat_new_password" class="form-control" id="repeat_new_password">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="action" value="password">
                        <button class="btn btn-primary">Enregistrer</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary mt-4" href="/logout">Déconnexion</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
