{% extends '/admin/page.twig' %}

{% block page_title %}
    Contact - Voir
{% endblock %}

{% block page_content %}
    <div class="row g-3 needs-validation" id="form_post">
        <div class="col-md-12">
            <p class="h2">Sujet</p>
            <p>{{ contact.title }}</p>
        </div>
        <div class="col-md-12">
            <p class="h2">Email</p>
            <p>{{ contact.email }}</p>
        </div>
        <div class="col-md-12">
            <p class="h2">Message</p>
            <p>{{ contact.message }}</p>
        </div>
    </div>
{% endblock %}
