{% extends '/admin/page.twig' %}

{% block page_title %}
    Articles - Ecrire un nouvel article
{% endblock %}

{% block page_content %}
    <form action="" method="post" class="row g-3 needs-validation" id="form_post" data-action="new" data-retarget-url="{{ route('admin_posts') }}">
        <div class="col-md-12">
            <label for="post_title" class="form-label">Titre de l'article</label>
            <input type="text" class="form-control" name="post_title" id="post_title" required>
        </div>
        <div class="form_group">
            <label for="post_description" class="form-label">Description de l'article</label>
            <textarea name="post_description" class="form-control" id="post_description" cols="30" rows="3" required>{{ post.body }}</textarea>
        </div>
        <div class="form_group">
            <label for="post_body" class="form-label">Texte de l'article</label>
            <input type="hidden" name="post_body">
            <div id="post_body"></div>
            {# <textarea name="post_body" id="post_body" cols="30" rows="10" required></textarea> #}
        </div>
        <button class="btn btn-primary" type="submit" name="post_submit">Enregistrer</button>
    </form>
{% endblock %}

{% block javascript %}
    <script src="/public/assets/admin/js/admin_editor_post.js"></script>
{% endblock %}
