{% extends '/admin/page.twig' %}

{% block page_title %}
    Articles - Nouveau
{% endblock %}

{% block page_content %}
    <form action="" method="post" class="form">
        <div class="form_group">
            <label for="post_title">Titre de l'article</label>
            <input type="text" name="post_title" id="post_title" required>
        </div>
        <div class="form_group">
            <label for="post_body">Texte de l'article</label>
            <textarea name="post_body" id="post_body" cols="30" rows="10" required></textarea>
        </div>
        <button type="submit" name="post_submit">Enregistrer</button>
    </form>
{% endblock %}
